*,
*::before,
*::after {
  box-sizing: border-box;
  scrollbar-width: none;
}

/* Remove scroll, but maintain functionality */
.audio {
  font-family: "Audiowide", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2f4f4f;
}

#container {
  height: 725px;
  width: 575px;
  display: flex;
  flex-direction: column;
  background-color: #0e1428; /* rgb(41, 98, 255);*/
  border-radius: 1rem;
  padding: 2rem;
  border: 0.1rem #d95d39 solid;
}

.row {
  flex: 1;
  display: flex;
}

#display-window {
  background-color: #7b9e89;
  color: #0e1428;
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 3.975rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  border: 0.1rem #d95d39 solid;
}

.button {
  flex: 1;
  border-radius: 1rem;
  border: 1px solid #0e1428;
  font-size: 2rem;
  background-color: #f0a202;
  color: #0e1428;
}

.background-button {
  background-color: #d95d39;
}

.arith-button {
  background-color: #d95d39;
}

/* Colors
Color Palette
• Gamboge - #F0A202
• Tangerine - #F18805
• Cinnabar - #D95D39
• Oxford Blue - #0E1428
• Cambridge Blue - #7B9E89
• Steel Grey - #A9A9A9