*,
*::before,
*::after {
  box-sizing: border-box;
  scrollbar-width: none;
}

/* Remove scroll, but maintain functionality */

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2f4f4f;
}

#container {
  height: 650px;
  width: 500px;
  display: flex;
  flex-direction: column;
  background-color: #0e1428; /* rgb(41, 98, 255);*/
  border-radius: 1rem;
  padding: 2rem;
  border: 0.1rem #d95d39 solid;
}

.row {
  flex: 1;
  display: flex;
}

#display-window {
  /* background-color: #5dbb63; Fern Green #5dbb63 Parakeet Green: #03c04a  */
  background-color: #7b9e89;
  color: #0e1428;
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 4.75rem;
  padding-bottom: 1rem;
  padding-right: 6px;
  margin-bottom: 2rem;
  border-radius: 1rem;
  border: 0.1rem #d95d39 solid;
}

.button {
  flex: 1;
  border-radius: 1rem;
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f0a202;
  color: #0e1428;
}

.button:hover {
  background-color: #f8d49b;
}

.background-button {
  background-color: #d95d39;
}

.arith-button {
  background-color: #d95d39;
}

/* Colors
Color Palette
• Gamboge - #F0A202
• Tangerine - #F18805
• Cinnabar - #D95D39
• Oxford Blue - #0E1428
• Cambridge Blue - #7B9E89

Background Color Options
• Charcoal Gray - #333333
• Dark Slate Gray - #2F4F4F
• Oxford Blue - #0E1428
*/
